configuration:
  system:
    host_name: "{{ inventory_hostname }}"
    login:
      user:

        # ### USERNAMES
        - name: netpalm
          authentication:
            encrypted_password: $6$UNZtRTU2$tf7oY8VIKqRQ53B/qbZzPr7pFMuNOJdbiikmJTNfKaLSnjMuf8a5vDezVKwyckoMyf7JQ4QdOT6Ex1LnUhgzJ/
          class: super-user
          uid: "3001"

        - name: packetferret
          authentication:
            encrypted_password: $6$.HKuZDyY$H2rjpnC8wAnzz71hn0WisOjjrg5Ap.Mpqui4/0CMj6G.b5VF6m4ZrsUMkG7stBc3Q8i.HPFleceoM6Kwa7D5c.
          class: super-user
          uid: "3002"

        - name: cremsburg
          authentication:
            encrypted_password: $6$JX8v3CWG$oLWOKFK0phWqtGrFx7HdeeVcgFRyQULVxgoTD4jMMGVNA87UUxTOYgewuWRwoosfwFqRTLO8zHQXkGWM0yxmT1
          class: super-user
          uid: "3003"

    name_server:
      - name: 10.6.6.20
      - name: 10.6.6.21
    root_authentication:
      encrypted_password: $6$eG4FXiQW$J4/a.5GZlXlrKcvJTpbaMl.qIelPqjR5lFk.POmxo5O3Vp5OdjHFFJ97PMqvABuZZOGXrdvSE6YF3f33wilgO.
    services:
      netconf:
        ssh: null
      rest:
        enable_explorer: null
        http:
          port: "8080"
      ssh:
        root_login: allow
    syslog:
      file:

        # ### SYSLOG MESSAGES FILE "show log messages"
        - name: messages
          contents:
            - name: any
              notice: null
            - name: authorization
              info: null

        # ### SYSLOG COMMAND HISTORY FILE "show log interactive-commands"
        - name: interactive-commands
          contents:
            any: null
            name: interactive-commands

        # ### SYSLOG LOG DEFAULT MESSAGES (structured data format) "show log default-log-messages"
        - name: default-log-messages
          match: "(requested 'commit' operation)|(requested 'commit synchronize' operation)|(copying configuration to juniper.save)|(commit complete)|ifAdminStatus|(FRU power)|(FRU removal)|(FRU insertion)|(link UP)|transitioned|Transferred|transfer-file|(license add)|(license delete)|(package -X update)|(package -X delete)|(FRU Online)|(FRU Offline)|(plugged in)|(unplugged)|GRES"
          contents:
            info: null
            name: any
          structured_data: null

      # ### SYSLOG SERVERS
      host:
        - name: 10.6.6.101
          contents:
            any: null
            name: any
          port: 5514
          source_address: "{{ ansible_host }}"
          structured_data: null

      user:
        contents:
          emergency: null
          name: any
        name: "*"
        # match: "!(.*Scheduler Oinker*.|.*Frame 0*.|.*ms without yielding*.)"
    time_zone: America/Chicago
