configuration:
  interfaces:
    interface:
      # ### PHYSICAL INTERFACES
      - name: xe-0/0/8
        description: "[xe-0/0/8] Connected to core-sw2 xe-0/0/8"
        ether_options:
          ieee_802.3ad:
            bundle: ae2

      - name: xe-0/0/9
        description: "[xe-0/0/9] Connected to core-sw2 xe-0/0/9"
        ether_options:
          ieee_802.3ad:
            bundle: ae2

      - name: xe-0/0/10
        description: "[xe-0/0/10] Connected to core-sw1 xe-0/0/10"
        ether_options:
          ieee_802.3ad:
            bundle: ae1

      - name: xe-0/0/11
        description: "[xe-0/0/11] Connected to core-sw1 xe-0/0/11"
        ether_options:
          ieee_802.3ad:
            bundle: ae1

      - name: xe-0/0/4
        description: "[xe-0/0/4] Connected to access-sw4 xe-0/0/4"
        ether_options:
          ieee_802.3ad:
            bundle: ae4

      - name: xe-0/0/5
        description: "[xe-0/0/5] Connected to access-sw4 xe-0/0/5"
        ether_options:
          ieee_802.3ad:
            bundle: ae4

      - name: xe-0/0/6
        description: "[xe-0/0/6] Connected to access-sw3 xe-0/0/6"
        ether_options:
          ieee_802.3ad:
            bundle: ae3

      - name: xe-0/0/7
        description: "[xe-0/0/7] Connected to access-sw3 xe-0/0/7"
        ether_options:
          ieee_802.3ad:
            bundle: ae3

      # ### AE INTERFACES
      - name: ae1
        description: "Connected to core-sw1 (members: xe-0/0/10 / xe-0/0/11)"
        apply_groups:
          - AE_MTU_JUMBO
          - AE_LACP_BOND
        aggregated_ether_options:
          lacp:
            active: null
          minimum_links: 1
        unit:
          name: "0"
          family:
            inet:
              address:
                name: "10.1.14.1/31"

      - name: ae2
        description: "Connected to core-sw2 (members: xe-0/0/8 / xe-0/0/9)"
        apply_groups:
          - AE_MTU_JUMBO
          - AE_LACP_BOND
        aggregated_ether_options:
          lacp:
            active: null
          minimum_links: 1
        unit:
          name: "0"
          family:
            inet:
              address:
                name: "10.2.14.1/31"

      - name: ae3
        description: "Connected to access-sw3 (members: xe-0/0/6 / xe-0/0/7)"
        apply_groups:
          - AE_MTU_JUMBO
          - AE_LACP_BOND
        aggregated_ether_options:
          lacp:
            active: null
            system_id: 00:40:00:00:00:03
        esi:
          all_active: null
          identifier: 00:00:22:22:33:33:44:44:00:03
        unit:
          - name: "0"
            family:
              ethernet_switching:
                interface_mode: trunk
                vlan:
                  members:
                    - vlan_1 
                    - vlan_2 
                    - vlan_3

      - name: ae4
        description: "Connected to access-sw4 (members: xe-0/0/4 / xe-0/0/5)"
        apply_groups:
          - AE_MTU_JUMBO
          - AE_LACP_BOND
        aggregated_ether_options:
          lacp:
            active: null
            system_id: 00:40:00:00:00:04
        esi:
          all_active: null
          identifier: 00:00:22:22:33:33:44:44:00:04
        unit:
          - name: "0"
            family:
              ethernet_switching:
                interface_mode: trunk
                vlan:
                  members:
                    - vlan_1 
                    - vlan_2 
                    - vlan_3

      # ### LOOPBACK INTERFACES
      - name: lo0
        unit:
          - name: "0"
            description: loopback
            family:
              inet:
                address:
                  name: "{{ device.lo0.ipv4 }}/32"
